@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}
#header{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:20px 80px;
  background: #E3E6F3;
  box-shadow: 0 5px 15px rgba(0,0,0,0.06);
  position: sticky;
  top:0;
  left:0;
}
.navbar{
  display:flex;
  justify-content: center;
  align-items: center;
}
.navbar li{
  list-style: none;
  padding:0 20px;
  position: relative;
}
.navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: black;
  
}
.navbar li a:hover,
.navbar li a.active{
  color:rgb(4, 124, 183);
  transition: 0.5s ease;
}
.navbar li a.active::after,
.navbar li a:hover::after{
  content: "";
  width:40%;
  height:2px;
  background:rgb(4, 124, 183) ;
  position: absolute;
  bottom: -4px;
  left:20px;
  transition: 0.5s ease;

}
#mobile{
  display: none;
}
#close{
  display: none;
}
#home{
  background-image: url("images/img/hero4.png");
  height: 90vh;
  width:100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#home h4{
  padding-bottom: 15px;
}
#home h1{
  color:rgb(4, 124, 183) ;
}
#home p{
  color:black;
}
#home button{
  background-image: url("images/img/button.png");
  background-color: transparent;
  color: rgb(4, 124, 183) ;
  border: 0;
  padding:14px 80px 14px 65px;
  font-weight: bold;
  background-repeat: no-repeat;
  cursor:pointer;
  font-size: 1em;

}
#feature{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
  gap:50px;
  
  
}
#feature .fe-box{
  width:180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0,0,0,0.3);
  border:1px solid #cce7d0;
  border-radius: 4px;
  margin:15px 0;
}
#feature .fe-box:hover{
  box-shadow: 10px 10px 54px rgba(70,62,221,0.1);
}
#feature .fe-box h6{
  display: inline-block;
  margin-top:10px;
  padding: 9px 8px 6px 8px ;
  line-height: 1;
  background-color: #fddde4;
  color:#088178;
  border-radius: 4px;
}
#product{
  text-align: center;
  
}
#product p{
  color:black
}
.pro-container{
  margin-top: 40px;
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap:60px;
  justify-content: center;
  align-items: center;
  
}
#product .pro{
  width:25%;
  min-width:280px;
  padding:10px 12px;
  border:1px solid #cce7d0;
  border-radius: 18px;
  cursor: pointer;
  box-shadow: 20px 20px 20px rgba(0,0,0,0.05);
  
}
#product .pro:hover{
  box-shadow: 20px 20px 20px rgba(0,0,0,0.08);
  transition: 0.2s ease;
}
#product .pro img{
  width:100%;
  border-radius: 20px;
}
#product .pro .des-text{
  display: flex;
}
#product .pro .des{
  text-align: start;
  padding: 10px 0;
}
#product .pro .des span{
  color:#606063;
  font-size: 12px;
}
#product .pro .des h5{
  margin-top: 7px;
  color:#1a1a1a;
  font-size: 14px;
}
#product .pro .des i{
  font-size: 12px;
  color: rgb(243,181,25);
}
#product .pro .des h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color:#088178;
}
#product .pro .cart{
  width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    margin-top: 60px;
    align-self: flex-end;
    
}
#banner{
  text-align: center;
  background-image: url("images/img/banner/b2.jpg");
  background-size: cover;
  height: 100%;

}
#banner .bn-h4{
  padding-top: 40px;
}
#banner .bn-h2{
  padding-top: 30px;
}
#banner .bn-h2 span{
  color: rgba(241, 17, 17, 0.819);
}
#banner .bn-h4,.bn-h2{
 
  color: white;
}
#banner button{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s ;
  margin-top: 20px;
  margin-bottom: 30px;
}
#twobanner button{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s ;
  margin-top: 20px;
  margin-bottom: 30px;
}
#banner button:hover{
  
  color: white;
  
  background-color: #3b04b3;
}
#twobanner{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
gap:150px;
height:100%;
}
.banner-box{
  display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("images/img/banner/b17.jpg");
   
    height:50vh;
    background-size:cover;
    background-position: center;
    padding:30px;
}
.banner2{
  background-image: url("images/img/banner/b10.jpg");
}
#twobanner h4{
  color:#fff;
  font-size: 20px;
  font-weight: 300;
}

#twobanner h2{
  color:#fff;
  font-size: 28px;
  font-weight: 800;
}

#twobanner span{
  color:#fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom:15px;
}


#twobanner .banner-box:hover button{
  background: #088178;
  border: 1px solid #088178;
  transition: 0.5s ease;
}
#threebanner{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap:50px;
  padding:0 80px;

}
#threebanner .bbox{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
  height:30vh;
  background-size:cover;
    background-position: center;
    padding-left: 30px;
    margin-bottom: 50px;
}
#threebanner .b1{
  background-image: url("images/img/banner/b7.jpg");
}
#threebanner .b2{
  background-image: url("images/img/banner/b4.jpg");
}
#threebanner .b3{
  background-image: url("images/img/banner/b18.jpg");
}
#threebanner h2{
  font-size: 22px;
  color:white;
  font-weight: 700;
}
#threebanner h4{
  font-size: 18px;
  color:red;
}
#newsletter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:50px;
  background-image: url("images/img/banner/b14.png");
  background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}
#newsletter h4,p{
  color:white;
}
#newsletter input{
  height:3.125rem;
    padding:0 1.25em;
    font-size: 14px;
    width:100%;
    border:1px solid transparent;
    outline:none;
    
}
#newsletter .form{
  display:flex;
  width:40%;
}
#newsletter button{
  background-color: #088178;
  color:#fff;
  white-space: nowrap;
  
  font-size: 14px;
  font-weight: 600;
  padding: 17px 30px;
  
  
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
  margin-bottom: 30px;
}
footer{
  display: flex;
  justify-content: space-between;
}
footer .logo{
  height: 50px;
  margin-bottom: 20px;
}
footer .col h4{
color:black;
font-size: 15px;
margin-bottom: 10px;
}
footer .col p{
  color:black;
  font-size: 11px;
margin-bottom:-4px;
  
}
footer .col .follow h4{
  margin:25px 0;
}
footer .col .follow .icon{
padding-right: 6px;
}
footer .col a{
  text-decoration: none;
  color:#000;
  font-size: 12px;
  margin:8px 0;
  font-weight: 500;
}

footer .col{
  display: flex;
  flex-direction: column;
}
footer .install img{
  border:1px solid #088178;
  border-radius: 6px;
  margin: 10px 0 15px 0;
}

footer .follow i:hover, footer a:hover{
  color:#088178;
}

.copyright p{
  color:black;
  text-align: center;
  width:100%;
}

@media (max-width:799px){
  .navbar{
    display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position:fixed;
        top:0;
        right:-300px;
        height:100vh;
        width:300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1);
        padding: 80px 0 0 10px;
        transition:0.3s;
  }
  .navbar li{
    margin-bottom: 25px;
  }
  #mobile{
    display:flex;
    align-items: center;
  }
  #mobile i{
    color:#1a1a1a;
    font-size: 24px;
    padding-left: 20px;
}
#mobile i:hover{
  cursor: pointer;
}
.navbar.active{
  right:0px;
}
#close{
  position: absolute;
  display: initial;
  top:30px;
  left:30px;
  color:#222;
}
#lg-bag{
  display:none;
}
#home{
  height: 70vh;
  padding: 0 80px;
  background-position: top 30% right 30%;
}
.section-p1 {
  padding: 40px 25px;
}
#newsletter{
  display: block;
}
#newsletter .form {
  
  width: 80%;
}
footer{
  padding:0 5px;
}
}
@media(max-width: 520px){
  
  #header {
    padding: 10px 30px;
}
#home {
  padding: 0 20px;
  background-position: 55%;
}
h2 {
  font-size: 32px;
}

h1 {
  font-size: 38px;
}
#feature{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pro-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer{
  display: block;
  margin-left: 30px;
}


}